.header{
    display: flex;
    flex-direction: row;   
}
ul{
	list-style: none;
}
.title{
    font-weight: bold;
    font-size: 32px;
    margin-top: 20px;
}
.title-description{
    font-size: 17px;
    width: 340px;
    margin-top: 24px;
    margin-left: 40px;
}
.navbar{
    margin-left: 56px;
    margin-top: 9px;
}
